/* Reset default styles */
/* styles.module.css */
.mobile {
  display: block;
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 5vh;
  width: 100vw;
  min-height: 100vh;
}

.desktop {
  display: none;
}

.background {
  width: 100vw;
  height: auto;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 0;
}

.wrapper {
  position: absolute;
  top: 55%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card_wrapper {
  position: relative;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.card {
  height: fit-content;
  width: fit-content;
  min-width: 20px;
  min-height: 20px;
  max-width: 300px;
  border-radius: 12px;
  background-color: #dbdbdb;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 10;

  &.not-interested {
    background-color: #ababab;
    filter: grayscale(100%) saturate(0);
  }
}

/* Add a specific z-index for each card */
.card:nth-child(1) {
  z-index: 30; /* Highest z-index for the top card */
}

.card:nth-child(2) {
  z-index: 20;
}

.card:nth-child(3) {
  z-index: 10; /* Lowest z-index for the bottom card */
}

.inner_wrapper {
  width: 236px;
  margin: 32px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.company_container {
  display: flex;
  flex-direction: row;
  width: 236px;
  justify-content: space-between;
  align-items: center;
}

.company {
  display: flex;
  width: fit-content;
  align-items: center;
  gap: 8px;
}

.company_title {
  display: flex;
  flex-direction: column;
  /* Default colors */
  color: #5a5c65; /* Company name color */
}

.company_type {
  font-size: 10px;
  color: #646464; /* Company type color */
}

/* If company is not interested */
.company_title.not-interested {
  color: #5A5C65;
}

.company_type.not-interested {
  color: #5A5C65;
}

.more_info {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.language {
  display: flex;
  padding: 8px 12px;
  width: fit-content;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 200px;
  background: #f7f6f6;
  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.25);
}

.pass {
  display: inline-flex;
  padding: 8px 18px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  background: #f66;
}

.like {
  display: inline-flex;
  padding: 8px 18px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  background: #65ab59;
}

#black {
  color: #323649;
}

#grey {
  color: #858585;
}

.logo {
  position: relative;
  z-index: 10;
}

.flex {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.flex h2 {
  width: 80vw;
  text-align: center;
}

.flex p {
  width: 80vw;
  text-align: center;
}

.flex .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.flex .top-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.flex .middle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.flex .input-box {
  background: #e0e0e0;
  border-radius: 12px;
}

.input-box p {
  color: #323649;
  text-align: left;
  margin-left: 16px;
  margin-top: 16px;
  margin-bottom: 16px;
}

.flex .sign-up {
  border-width: 0px;
  border-radius: 13px;
  background: #4a83ff;
  box-shadow: 4px 4px 12px 0px rgba(0, 51, 19, 0.2);
}

.sign-up p {
  color: #f5f5f5;
  font-family: "Inter Bold";
  margin-top: 16px;
  margin-bottom: 16px;
}

.provider_button p {
  color: var(--text550);
}

.skill {
  display: flex;
  padding: 10px 13px;
  width: fit-content;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-image: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0.64),
      rgba(255, 255, 255, 0.1)
    )
    1;
  border-width: 0.5px;
  border-style: solid;
}

@media only screen and (max-width: 600px) {
  /*
  .mobile {
    display: none;
  }

  .desktop {
    display: block;
  }
  */
}
